* {
    text-align: center;
    font-family: consolas, monospace;
    background-color: #27262b;
    color: white;
}

@import url(https://fonts.googleapis.com/css?family=Consolas);

select {
    font-size: 25px;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    border-color: white;
}

.center {
    transform: translate(00%, 150%);

}

.diva {
    border-width: 2px;
    border: color(white);
    transform: translate(00%, 500px);
    display: none;
}
.divs {
    border-width: 2px;
    border: color(white);
    transform: translate(00%, 650px);
    display: none;
}

.dive {
    border-width: 2px;
    border: color(white);
    transform: translate(00%, 575px);
    display: none;
}